
<div class="card container mt-4 mb-4 py-3 agreementDetail">
    <div class="row g-0 ">
        <!-- Left side for car image -->
        <div class="col-6 d-flex align-items-center ">
            <img src="{{movieWithShowDetails?.bannerImageUrl}}" class="img-fluid rounded-start rounded-end" style="height:80% " alt="Car Image">
        </div>
        
        <!-- Right side for Agreement details -->
        <div class="col-6  rentDetails d-flex flex-column align-items-center mx-auto">
            <div class="card-body">
                <div class="container">
                    <h4 class="mb-2 ">Movie Details</h4>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">Name</th>
                                <td>{{movieWithShowDetails?.name}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Genre</th>
                                <td>{{movieWithShowDetails?.genre}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Director</th>
                                <td>{{movieWithShowDetails?.directorName}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Description</th>
                                <td> {{movieWithShowDetails?.description}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Show Date</th>
                                <td> {{bookingDate}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Timing</th>
                                <td> {{movieWithShowDetails?.movieShow.startTime}} - {{movieWithShowDetails?.movieShow.endTime}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Tickets Available</th>
                                <td> {{seatRemaining}} seats remaining**</td>
                            </tr>
                        </tbody>
                    </table>
                    <form [formGroup]="seatCountForm" (ngSubmit)="bookTicket()">
                        <div class="mb-3 col-md-9">
                            <div class="row align-items-center">
                                <div class="col-auto pe-2 ms-2">
                                    <label for="seatNumber" class="form-label fw-bold">Seats to Book* :</label>
                                </div>
                                <div class="col">
                                    <input type="number" class="form-control" id="seatNumber" name="seatNumber" placeholder="Enter number of seats" formControlName="seatNumber">
                                </div>
                            </div>
                            <div style="color: red" *ngIf="seatNumber && seatNumber.invalid && seatNumber.touched">Seats should atleast be of 1Day and Max of 10 Days</div>
                        </div>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">Total Amount</th>
                                    <td>₹ {{ (seatCountForm.get('seatNumber')?.value||1)*movieWithShowDetails?.movieShow.price }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-success" type="submit" [disabled]="seatCountForm.invalid" >Confirm Booking</button>
                            </div>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</div>